@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}

html, body,#root{
    margin: 0;
    padding:0;
    background-color: #0C2434;

}

html{
    font-size:16px;
}

#root{
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 500px){
    html{
        font-size:12px;
    }
    html,body,#root{
        width:100vw;
        height:100vh;
    }
    body, #root{
        margin:auto;
    }
    main{
        margin:0;
        padding:0;
        width:95%;
        height:95%;
    }
    }




