body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:auto auto;


}

.container1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto auto;
}
