<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unit Conversion</title>
    <link href="../stylesheet/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div class="container1">
        <h1>Metric/Imperial Unit Conversion</h1>
        <input type="text" id = "input">
        <label for="input"></label>
        <button id="btn">Convert</button>
    </div>

    <div class="container2">
        <div id="length">
            <h2>Length (Meter/Feet)</h2>
            <p id="lengthOutput">|</p>
        </div>



        <div id="volume">
            <h2>Volume (Liters/Gallons)</h2>
            <p id="volumeOutput">|</p>
        </div>



        <div id="Mass">
            <h2>Mass (Kilograms/Pounds)</h2>
            <p id="massOutput">|</p>
        </div>
    </div>
    <script src="../JavaScript/index.js"></script>
</body>
</html>